doctype html
html
	head
		title Virtual Viewport Jquery plugin
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		link(href="css/normalize.css" rel="stylesheet")
		link(href="css/foundation.css" rel="stylesheet")
		link(href="css/app.css" rel="stylesheet")
	body
		main
			.row
				.title
					h1.heading Virtual viewport demo
					a(href="https://github.com/suenot/vv") Fork me
				include svg/russia.svg
		script(src="js/jquery-2.1.3.min.js")
		script(src="js/jquery.browser.min.js")
		script(src="js/vv.js")
		script(type='text/javascript').
			$(document).ready(function(){
				vv(0, 320, 640);
				vv(641, 1280, 1280);
				vv(1281, 1400, 1400);
			});